# =========================
# Bot Identity
# =========================
BOT_NAME=bot-mine

# DEVICE_ID dipakai untuk subscribe Redis Pub/Sub.
# Nilainya harus sama dengan device_id yang diterima dari webhook GOWA.
# Contoh dari webhook: 201505218569@s.whatsapp.net
DEVICE_ID=NOMOR@s.whatsapp.net

# =========================
# Redis Pub/Sub
# =========================
REDIS_URL=redis://localhost:6379/0
PUBSUB_CHANNEL_PREFIX=wa:incoming


# =========================
# GOWA API
# =========================
GOWA_BASE_URL=https://your-gowa.com
GOWA_DEVICE_ID=jastipin
GOWA_SEND_MESSAGE_PATH=/send/message


# =========================
# GOWA Basic Auth
# =========================
# Isi hanya kalau API GOWA kamu memang memakai basic auth.
GOWA_BASIC_AUTH_USERNAME=ISI_USERNAME_BASIC_AUTH_KAMU
GOWA_BASIC_AUTH_PASSWORD=ISI_PASSWORD_BASIC_AUTH_KAMU